@font-face {
    font-family: 'NotoSansJP';
    src: url('Font/NotoSansJP-VariableFont_wght.ttf');
}
* {
    -fx-font-family: 'Noto Sans JP';
}
.label {
    -fx-font-family: 'Noto Sans JP';
    -fx-font-weight: 500;
    -fx-font-size: 13;
}
.calender {
    -fx-background-color: #d1d1d1
}
.text-field {
    -fx-font-weight: 400;
}
.scroll-pane {
    -fx-vbar-policy: always;
    -fx-hbar-policy: never;
}
.calender .ui {
    -fx-fill: #999;
}
.calender .day {
    -fx-font-size: 10;
}
.calender .schedule {
    -fx-font-size: 7;
    -fx-alignment: baseline-left;
}

.calender .background{
    -fx-background-color: #d0d0d0;
    -fx-border-color: #262626;
    -fx-border-radius: 1;
    -fx-border-width: 1;
}
.calender .otherMonth{
    -fx-background-color: #c3c3c3;
    -fx-border-color: #454545;
    -fx-border-radius: 1;
    -fx-border-width: 0.5;
}
.list .schedule{
    -fx-padding: 2;
    -fx-spacing: 10;
}
.schedule .label{
    -fx-font-weight: 800;
}
.schedule .title{
    -fx-font-size: 15;
}
.subject{
    -fx-font-size: 7;
}


