@font-face {
    font-family: 'NotoSansJP';
    src: url('Font/NotoSansJP-VariableFont_wght.ttf');
}

.label {
    -fx-font-family: 'Noto Sans JP Medium';
}

.calender {
    -fx-background-color: #d1d1d1
}
.calender .ui {
    -fx-fill: #999;
}
.calender .day {
    -fx-font-size: 10;
}
.calender .schedule {
    -fx-font-size: 7;
    -fx-alignment: baseline-left;
}

.calender .background{
    -fx-fill: #d0d0d0;
    -fx-stroke: #262626;
}
.calender .otherMonth{
    -fx-fill: #c3c3c3;
    -fx-stroke: #454545;
}
.list .schedule{
    -fx-padding: 2;
    -fx-spacing: 10;
}
.schedule .label{
    -fx-font-family: 'Noto Sans JP ExtraBold';
}
.newSchedule{
    -fx-background-color: #d6d6d6;
}


